* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 1500px;
}

header {
  width: 100%;
}

header > #first-header,
#second-header {
  background-color: #fff;
  height: 65px;
  padding: 12px 0;
  display: flex;
  position: relative;
  border-bottom: 1.5px solid #000;
}

header > #second-header {
  border-bottom: none;
  background-color: #000;
}

header > #first-header > #image-header {
  display: flex;
  max-width: 20%;
}

header img {
  margin: 4px 15px;
}

header > #first-header > #title {
  display: flex;
  text-transform: uppercase;
  max-width: 80%;
  width: 70%;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin-right: 20px;
}

header > #first-header > #button-header {
  display: flex;
  max-width: 20%;
  justify-content: end;
  align-items: center;
}

header #button-header > button {
  text-transform: uppercase;
  padding: 15px;
  margin: 4px 8px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

header #button-header > button:first-of-type {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

header #button-header > button:last-of-type {
  background-color: rgb(26, 72, 196);
  color: rgb(255, 255, 255);
}

header #second-header ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
}

header #second-header ul > li {
  margin: auto 20px;
  display: flex;
  align-items: center;
}

header #second-header a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: auto 15px;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

main {
  width: 100%;
}

.list-albumn {
  background-color: white;
  width: 900px;
  height: 259px;
  margin-bottom: 10px;
}

.list-albumn > .frame-select {
  width: 100%;
}

.list-albumn .title-box {
  width: 100%;
  height: 46px;
  background-color: #fff;
}

.list-albumn a {
  text-decoration: none;
  color: #2daaed;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list-albumn ul {
  width: 100%;
  height: 194px;
  list-style-type: none;
}

.list-albumn ul > li {
  display: inline-block;
  padding: 0px;
  margin: 0 20px 10px 0;
}

.list-albumn ul a {
  width: 154px;
  height: 154px;
}

.list-albumn a > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
